.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card{
  /* border: 1px solid black;
  background-color: bisque;
  margin: auto;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  flex-wrap: wrap;
  gap: 1em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 15px;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: bisque;
  height: 50%;
  width: 30%;
  
}


.lform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  background-image: url('../public/descargaa.jpeg');
  background-position: 50% 50%;
  animation: spin 4s linear infinite;
  background-size: cover;
}

.paginado{
  height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-color: black;
 

}

.paginado1{
  border-color: black;
  background-color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.controlP{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  width: 100%;
  height: 100%;

}


.formact{
  background-color: gray;
  width: 30%;
  margin-left: 35%;


}

